@import "tailwindcss";

@theme {
	--font-sans: "Public Sans", sans-serif;
	--font-big: "Gabarito", sans-serif;

	--color-zinc-150: #f0f0f2;
	--color-zinc-850: #1e1e21;
}

@custom-variant dark (&:is(.dark, .dark *));
@custom-variant theme (&:is(.dark *,.light *));
@custom-variant enabled (&:not(disabled));

h3,h2,h1 {
	font-family: var(--font-big);
}

button {
	cursor: pointer;
}